#sec-6 {
  margin-top: 14rem;
  .container {
    .img {
      .why-choose-us {
        position: relative;
        font-weight: map-get($fw, semibold);
        color: $Mermu;

        &::after {
          content: "";
          position: absolute;
          width: 4rem;
          height: 4px;
          bottom: -50%;
          left: 0;
          background: $Mermu;
          border-radius: 10px;
        }
      }

      img {
        margin-top: 5rem;
      }
    }

    .decs {
      padding-top: 6.5rem;

      .red {
        background-color: $Mertu;
        color: $White;
      }

      .white {
        background-color: $White;
      }

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        margin-top: 1rem;

        img {
          margin: 0 1rem 0 1rem;
        }

        .text {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 1rem;
        }
      }
    }

    @media (max-width: 991px) {
      .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .why-choose-us {
          text-align: center;

          &::after {
            bottom: -50%;
            left: 31%;
          }
        }

        img {
          margin-top: 5rem;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 2rem;
    }

    @media (max-width: 500px) {
      .img {
        img {
          width: 20rem;
        }
      }

      .decs {
        img {
          margin: 0 0.5rem 0 1rem;
        }

        .box {
          padding: 0.4rem 0rem;
        }

        h4 {
          font-size: 1.1rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    @media (max-width: 377px) {
      .img {
        img {
          width: 17rem;
        }
      }
    }
  }
}
